:root {
  --background-color: #f0f4f8;
  --text-color: #333;
  --skill-bg-color: #fff;
  --skill-border-color: #ddd;
  --skill-shadow-color: rgba(0, 0, 0, 0.1);
  --highlight-color: #5c67ff;
}

body {
  background-color: var(--background-color);
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: var(--skill-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--skill-shadow-color);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  margin: 20px;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--skill-shadow-color);
}

.container span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container img {
  width: 20px;
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;
  background-color: var(--skill-bg-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--skill-shadow-color);
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--highlight-color);
  margin: 30px auto;
}

@media (min-width: 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;
    padding: 40px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }
}
